@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Mountains of Christmas', serif;
    color: white;
}
html{
    background-image: url("https://t4.ftcdn.net/jpg/01/71/62/85/360_F_171628591_fHaJkCmMmP6gapohfht7zsPl00ecoxqK.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
main{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main h1{
    font-size: 8em;
}
main video{
    height: 300px;
    width: auto;
}